<!DOCTYPE html>
<html lang="en" ng-app="redditApp">
  <head>
    <title>Reddit Clone</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

  </head>
  <body ng-controller="RedditController">
    <header>
      <div class="container-fluid">
        <div class="navbar-header">
          <nav class="navbar navbar-default navbar-fixed-top">
            <h1 class="navbar-brand">Reddit Clone</h1>

              <p class="new-post" ng-click="addPost = !addPost">
                Submit Post
                <span class="glyphicon glyphicon-plus"></span>
              </p>

            <select class="dropdown" ng-model="sort" ng-init="sort='-score'">
              <option value="title">Sort by Title</option>
              <option value="-score">Sort by Score (High to Low)</option>
              <option value="score">Sort by Score (Low to High)</option>
            </select>

            <input class="search-box form-control" ng-model="search" type="text" placeholder="Search">
          </nav>
        </div>
      </div>
    </header>

    <main>
      <div class="view-alignment" ng-show="addPost">
        <h1>New Post</h1>
        <form name="newPostForm" ng-submit="newPost()" novalidate>

          <label for="author">
            Author
            <input class="form-control" type="text" name="author" ng-model="author" ng-minlength="3" required>
          </label>
          <p class="error-text" ng-show="newPostForm.author.$error.minlength">Author must be at least 3 characters long.</p>

          <label for="title">
            Title
            <input class="form-control" type="text" name="title" ng-model="title" ng-minlength="3" required>
          </label>
          <p class="error-text" ng-show="newPostForm.title.$error.minlength">Title must be at least 3 characters long.</p>

          <label for="description">
            Description
            <textarea class="form-control" cols="50" rows="10" name="description" ng-model="description" ng-minlength="20" required></textarea>
          </label>
          <p class="error-text" ng-show="newPostForm.description.$error.minlength">Description must be at least 20 characters long.</p>
          <label for="image">
            Image
            <input class="form-control" type="text" name="image" placeholder="Enter a link to an image" ng-model="image" required>
          </label>
          <button ng-disabled="newPostForm.$invalid" ng-click="addPost = !addPost" class="btn btn-primary" type="submit" name="submit">Submit</button>
        </form>
      </div>

      <div ng-repeat="post in posts | orderBy: sort | filter: search">
        <article class="well post-box">
          <div class="post-image">
            <img ng-src="{{ post.image }}" alt="thumbnail" />
          </div>
          <div class="post-content">
            <h4 class="post-title">{{ post.title }} |
              <small>
                <span class="glyphicon glyphicon-arrow-up" ng-click="post.upVote()">
                </span>
                <span class="glyphicon glyphicon-arrow-down" ng-click="post.downVote()">
                </span>
              </small>
              <span class="post-score">{{ post.score }}</span>
            </h4>
            <p class="post-author">By {{ post.author }}</p>
            <div class="post-details">
              <p class="post-date"><span class="glyphicon glyphicon-calendar"></span>
                <span> {{ post.date | amFromUnix | amCalendar }} |</span>
              <span class="comments-link" ng-click="displayComments = !displayComments">
                <span class="comments glyphicon glyphicon-comment"></span> {{ post.comments_num + post.comments.length }} Comments
              </span>
              |
              <span class="comments-link" ng-click="addComment = !addComment">
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="add-comment">Add Comment</span>
              </span>
              </p>
            </div>
          </div>
        </article>

        <div class="comments-display" ng-show="displayComments">
          <p class="post-description">{{ post.description }}</p>

          <div ng-repeat="comment in post.comments">
            <span class="pull-right">{{ comment.date | amCalendar }}</span>
            <small>
              <span class="glyphicon glyphicon-arrow-up" ng-click="comment.upVote()">
              </span>
              <span class="glyphicon glyphicon-arrow-down" ng-click="comment.downVote()">
              </span>
            </small>
            <span class="post-votes">{{ comment.score }}</span>
            <p class="view-alignment">{{ comment.commentBody }}</p>
            <p class="comment-author">Submitted by: {{ comment.commentAuthor }}
            </p>
          </div>
          <button ng-click="displayComments = !displayComments" type="button" class="btn btn-primary">Hide Comments</button>
        </div>

        <!-- ng-show="expression" -->

        <div class="view-alignment" ng-show="addComment">
          <h2>New Comment</h2>
          <form name="newCommentForm" ng-submit="post.newComment(commentAuthor, commentBody)">
            <label for="commentAuthor">
              Author
              <input class="form-control" type="text" name="commentAuthor" ng-model="commentAuthor" ng-minlength="3" required>
            </label>
            <p class="error-text" ng-show="newCommentForm.commentAuthor.$error.minlength">Author must be at least 3 characters long.</p>

            <label for="commentBody">
              Comment
              <textarea class="form-control" cols="50" rows="10" name="commentBody" ng-model="commentBody" ng-minlength="20" required></textarea>
            </label>
            <p class="error-text" ng-show="newCommentForm.commentBody.$error.minlength">Comment must be at least 20 characters long.</p>

            <button ng-click="addComment = !addComment" ng-disabled="newCommentForm.$invalid" class="btn btn-primary" type="submit" name="submit">Submit</button>
          </form>
        </div>
      </div>
    </main>

    <footer>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.3/angular-moment.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <script type="text/javascript" src="controllers.js"></script>
  </body>
</html>
