body {
  font-family: sans-serif;
}

span {
  margin: 0 5px;
}

input, textarea, .dropdown, {
  margin: 20px;
}

nav {
  padding-top: 20px;
  margin-bottom: 60px;
}

main {
  margin-top: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.new-post, .search-box, .dropdown {
  float: right;
  margin-top: 40px;
  margin-right: 40px;
}

.new-post {
  cursor: pointer;
}

.search-box {
  width: 150px;
}

.dropdown ul li {
  list-style: none;
}

.dropdown:hover {
  display: block;
}

.post-box {
  width: 80vw;
  margin-top: 10px;
  padding: 10px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
}

.post-content {
  margin-left: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.post-author {
  align-self: flex-end;
  margin-top: -35px;
  margin-right: 10px;
}

.post-title {
  width: 70%;
  word-wrap: normal;
}

.post-details {
  display: flex;
  flex-direction: row;
}

.post-score {
  font-size: .8em;
  margin-left: 10px;
  color: #00cb3f;
}

.post-neg {
  color: #ff0000;
}

.post-image {
  width: auto;
  display: inline-block;
}

.post-image img {
  width: 140px;
  height: auto;
}

h1, form {
  margin: 20px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-description {
  margin: 30px;
}

.comments-display {
  margin-left: 60px;
}

.view-alignment {
  width: 500px;
  margin-left: 40px;
}

.comments-link {
  cursor: pointer;
}

.comment-author {
  font-style: italic;
  color: #210071;
}

.error-style {
  background-color: #ff80bd;
}

.error-text {
  font-style: italic;
  color: #ff0000;
}
